body{
    background-color:rgb(255, 221, 227);
    font-family: 'Courier New', Courier, monospace;
}

#section{
    border: 5px dotted black;
    border-radius: 20px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
}

.side-by-side{
    display: flex;
    padding-left: 10px;
}

h1{
    font-weight: bolder;
}